<section>
    <br>
    <article>
        <div id="planSumWrapper">
            <div id="myTodo">
                <h3 class="teamh3">내가 해야되는 것</h3>
                <ul>
                    <li>dd</li>
                    <li>dd</li>
                    <li>ddd</li>
                    <li>coming soon!</li>
                </ul>
            </div>
            <div id="TeamPlanWrapper">
                <h3 class="teamh3" id="planOfTheDay"></h3>
                <ul>
                    <li>coming soon!</li>
                </ul>
            </div>
        </div>
    </article>
</section>