<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>팀 만들기</title>
    <link rel="stylesheet" href="../../css/main.css">
    <link rel="stylesheet" href="../../css/header.css">
    <link rel="stylesheet" href="../../css/team.css">
</head>
<body>
    <header>
        <a href="/h">
            <img src="../../img/coplanlogo.png"
                id="logoButton" alt="홈">
        </a>
        <div>
            <a href="/myprofile">
                <img id="userImg" src="../../img/user.png" alt="유저사진">
            </a>
        </div>
    </header>
    <form action="/team" method="POST">
        팀명 : <input type="text" name="teamname">
    <button type="submit">추가</button>
</form>
</body>
</html>