<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/logform.css">
</head>
<body>
    <%- include ('./sauce/logheader') %>
    <div id="loginForm">
        <div id="loginPosition">
            <form action="/register" method="post">
                <div id="infoContainer">
                    <input class="infoInput" type="text" name="userid" placeholder="아이디">
                    <br>
                    <input class="infoInput" type="text" name="username" placeholder="이름">
                    <br>
                    <input class="infoInput" type="password" name="password" placeholder="비밀번호">
                </div>
                <button class="submitButton" id="registerSubmit" type="submit">
                    확인
                </button>
            </form>
            <button id="registerCancel">
                <a href="/">취소</a>
            </button>
        </div>
    </div>
</body>
</html>