<ul id="teamList">
    <% if (team) { %>
        <% for (let i = 0; i < team.length; i++) { %>
            <form action="" method="">
                <li class="teamLinker">
                    <div>Owner : <%= team[i].ownerid %>
                    </div>
                    <a href="/t/<%= team[i]._id %>">
                        <%= team[i].teamname %>
                    </a>
                    <button class="checkout" value="<%= i %>">
                        탈퇴
                    </button>
                </li>
            </form>
        <% } %>
    <% } else { %>
        <p>새로운 팀에 등록하거나 추가해보세요</p>
    <% } %>
</ul>